{{if .PageIsHome}}
<div class="custom-top-banner">
	<div class="banner-inner">
		<div class="d-flex align-items-center gap-2">
			<i class="fa-solid fa-rocket"></i>
			<span><strong>WGP's</strong> Git 服务器</span>
		</div>
		<div class="banner-actions d-flex align-items-center">
			<a href="{{AppSubUrl}}/explore/repos">
				<i class="fa-solid fa-compass me-1"></i>探索项目
			</a>
			<a href="https://docs.gitea.com/zh-cn/administration" target="_blank" rel="noopener">
				<i class="fa-solid fa-book-open me-1"></i>管理文档
			</a>
			<a href="{{AppSubUrl}}/user/login">
				<i class="fa-solid fa-right-to-bracket me-1"></i>登录
			</a>
		</div>
	</div>
</div>
{{end}}
