<div class="custom-top-banner">
	<div class="banner-inner">
		<div class="d-flex align-items-center gap-2">
			<i class="fa-solid fa-rocket"></i>
			<span><strong>Vijay's</strong> Git server</span>
		</div>
		<div class="banner-actions d-flex align-items-center">
			<a href="{{AppSubUrl}}/explore/repos">
				<i class="fa-solid fa-compass me-1"></i>Explore projects
			</a>
			<a href="https://docs.gitea.com/administration" target="_blank" rel="noopener">
				<i class="fa-solid fa-book-open me-1"></i>Admin docs
			</a>
			<a href="{{AppSubUrl}}/repo/create">
				<i class="fa-solid fa-circle-plus me-1"></i>New repo
			</a>
		</div>
	</div>
</div>
